:host {
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  font-size: 13px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  touch-action: none;
  display: none;
  position: fixed;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.2em;
  background: #f9f9f9;
  box-shadow: 0.2em 0.2em 0.1em rgba(0, 0, 0, 0.25);
  color: #333;
}
:host(:focus) {
  outline: 0;
}

:host([expanded]) {
  display: inline-block;
}
:host([issubmenu]) {
  position: absolute;
  top: 0;
  left: 100%;
}
:host {
  padding: 0.25em 0;
}
hr {
  border: 0;
  margin: 0.25em 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.25); 
}


:host > #search {
  display: block;
}

:host > #search::shadow > .io-editor {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin: 0 0.25em;
  padding: 0.3em;
  background: white;
}

:host > #search::shadow > .io-editor:empty:after {  
  content: "Search...";
}

:host > #tooltip {
  min-width: 6em;
  max-width: 120em;
  padding: 0.5em; 
  white-space: normal;
}