:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  padding: 0.2em 0 0.2em 0.8em;
}
:host(:focus) {
  outline: 0;
}
:host([expanded]:focus) {
  background: #666;
  color: #fff;
}
:host([expanded]) {
  background: #999;
  color: #fff;
}
:host(:not([active])) {
  opacity: 0.5;
}
#label {
  margin: 0 0.8em 0 0;
}
#label.has-icon {
  margin-right: 1.8em;
}
#secondary-label {
  color: #aaa;
}
core-icon {
  margin-top: -0.25em;
  padding: 0;
  vertical-align: middle;
  width: 1.3em !important;
  height: 1.3em !important;
  float: right;
  margin: 0px;
}
