:host {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  cursor: crosshair;
  position: relative;
  display: inline-block;
}
:host > #outline,
:host > #renderer {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
:host(:focus) {
  outline: 0;
}
:host(:focus) > #outline {
  border: 1px dashed #986;
  z-index: 1;
}
:host > #viewoption {
  padding: 0.2em 0.4em;
  background: transparent;
  color: white;
  text-shadow: 1px 1px 1px black;
}
:host(:hover) > #viewoption {}